/* Global settings */
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
* {
    /* Disabling scroll bar */
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    -webkit-scrollbar: none;
}

body {
    background-color: #1e1e22;
}

/* Styling shared elements */
.wrap {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleWrap {
    width: 100%;
    padding: 0 35px;
    text-align: center;
    font-size: 22px;
    color: #e4e8eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contents {
    width: 100%;
    max-height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: scroll;
}

button {
    cursor: pointer;
}

.button {
    width: 180px;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    background-color: #66a0dd;
    font-size: 16px;
    transition-duration: 0.3s;
}

.button:hover {
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.7);
    transform: scale(0.99);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: sticky;
}

.timeStamp {
    width: 100%;
    padding: 10px 30px;
    font-size: 12px;
    color: #e4e8eb;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
}

/* Styling individual elements */
#name {
    margin-bottom: 30px;
}

#toWriter {
    background-color: #706dd0;
}

#toReader {
    background-color: #62c29a;
}

/* Writer notes */
textarea {
    resize: none;
    max-width: 300px;
    width: 65%;
    height: 80px;
    padding: 15px;
    border: 0;
    border-radius: 6px;
}

#notesWrap {
    width: 100%;
}

.writerNote {
    width: 100%;
    padding: 10px 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.noteBtn {
    min-height: 36px;
    padding: 10px 35px;
    border: 0;
    border-radius: 6px;
    background-color: #ff5959;
    transition-duration: 0.3s;
}

.noteBtn:hover {
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.6);
    transform: scale(0.99);
}

#addBtn {
    background-color: #57ad89;
}

/* Reader notes */
.readerNote {
    width: 100%;
    padding: 10px 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-wrap: pretty;

}

.readerNoteContent {
    max-width: 300px;
    width: 100%;
    padding: 15px;
    background-color: #e4e8eb;
    border-radius: 6px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}